--index-url https://download.pytorch.org/whl/cu118
torch
torchvision 
torchaudio
opencc
pydub
accelerate
fastapi
uvicorn[standard]
python-multipart
evaluate
jiwer

loguru==0.7.3
kokoro==0.9.4
soundfile==0.13.1
ordered-set==4.1.0
pypinyin==0.55.0
cn2an==0.5.23
jieba==0.42.1